# EJEMPLO: copiá a .env y completá los valores con tus datos de configuración
MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=tu_username_de_mailtrap
MAIL_PASSWORD=tu_password_de_mailtrap

JWT_SECRET=tu_secret_key_segura_de_al_menos_32_caracteres

# PostgreSQL: deben coincidir con lo que definiste en docker-compose.yml
DB_URL=jdbc:postgresql://localhost:5433/digitalbooking
DB_USERNAME=username_de_tu_base_de_datos
DB_PASSWORD=password_de_tu_base_de_datos